<br>
<h1>This website has 2 links </h1>
<br>
<ul>
	<li><h3><a href="/travel">TravelCove</a></h3></li>
	<li><h3><a href="/gallery">Image Gallery</a></h3></li>
</ul>
<br><br>
<small> This is just a temporary page. Thank You for visiting </small>