<!DOCTYPE html>
<html>
<head>

	<title>TravelCove</title>
	<link rel="stylesheet" href="style.css">
	<link rel = "icon" href="https://image.flaticon.com/icons/svg/2873/2873027.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="https://use.fontawesome.com/4e7e4904c9.js"></script>

</head>
<body>
	

	<div class="header">
		<div class="container">
			
			<span class="my-brand"> <i class="fa fa-suitcase"></i> TravelCove </span>
			<button class="login-btn">Login</button>
			<!-- <br><br><br><br><br> -->
		</div>
		<h1> Travel across the Globe </h1>
		<p> With our exclusive packages</p>
		<div class="input-group">
			<input type="text" class="form-control myborder" placeholder=" Search Country or Citi">
			<div class="input-group-append myborder">
				<button type="button" class="input-group-text btn">Search</button>
			</div>
		</div>
		<!-- <br><br><br><br><br><br><br><br><br><br><br> -->
	</div>

	<div class="features">
		<h1> Featured Destinations </h1>
	
		<div class="container">
			<div class="row">
				<div class="col-md-4"> 
					<div class="feature-box">
						<div class="feature-img">
							<img src="images/place1.jpg">
							<div class="price"> <p>78$</p></div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-half-o"></i>
							</div>
						</div>
						<div class="feature-details">
							<h4>San Francisco</h4>
							<p> San Francisco has a personality as big and bold as the Golden Gate Bridge. The city is also home to one of the most dynamic food scenes, from humble Mission District burrito joints to Michelin-starred dining rooms.</p>
							<div>
								<span><i class="fa fa-map-marker"></i>California</span>
								<span><i class="fa fa-sun-o"></i>4 Days</span>
								<span><i class="fa fa-moon-o"></i>3 Nights</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4"> 
					<div class="feature-box">
						<div class="feature-img">
							<img src="images/place2.jpg">
							<div class="price"> <p>95$</p></div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="feature-details">
							<h4>Las Vegas</h4>
							<p>Las Vegas is a renowned resort city, known primarily for its gambling, shopping, fine dining, entertainment, and nightlife.Vegas serves as the leading financial, commercial, and cultural center for Nevada. </p>
							<div>
								<span><i class="fa fa-map-marker"></i>United States</span>
								<span><i class="fa fa-sun-o"></i>4 Days</span>
								<span><i class="fa fa-moon-o"></i>3 Nights</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-box">
						<div class="feature-img">
							<img src="images/place3.jpg">
							<div class="price"> <p>75$</p></div>
							<div class="rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
						</div>
						<div class="feature-details">
							<h4>New Delhi</h4>
							<p>From historical monuments to crowded shopping malls, from an extensive network of the modern metro system to Delhi University campus, Delhi has multiple personalities and is considered to be the city with a heart.</p>
							<div>
								<span><i class="fa fa-map-marker"></i>India </span>
								<span><i class="fa fa-sun-o"></i>4 Days</span>
								<span><i class="fa fa-moon-o"></i>3 Nights</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gallery">
		<h1>Travelling Gallery</h1>

		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="gallery-box">
						<img src="images/g1.jpg">
						<h4>Kuala Lumpur</h4>
					</div>
				</div>
				<div class="col-md-3">
					<div class="gallery-box">
						<img src="images/g2.jpg">
						<h4>Dubai</h4>
					</div>
				</div>
				<div class="col-md-3">
					<div class="gallery-box">
						<img src="images/g3.jpg">
						<h4>Venice</h4>
					</div>
				</div>
				<div class="col-md-3">
					<div class="gallery-box">
						<img src="images/g4.jpg">
						<h4>Egypt</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="banner">
		<div class="banner-highlights">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Get 30% on top destination</h2>
						<p>Book your tickets before November to get 30% flat discount</p>
					</div>
					<div class="col-md-4">
						<button class="booking-btn">Book Now</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="users-feedback">
		<h1>Users Review</h1>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="user-review">
						<i class="fa fa-comments"></i>
						<p>The destinations there are also very beautiful, which must be visited once. Local people also have good behaviour.</p>
						<h5>Stewart</h5>
						<small>San Francisco</small>
					</div>
					<img src="images/man1.jpg">
				</div>
				<div class="col-md-4">
					<div class="user-review">
						<i class="fa fa-comments"></i>
						<p>Vegas has nice golf courses,tons of amazing restaurants,daily concerts and great weather for majority of the year.</p>
						<h5>Andrew</h5>
						<small>Las Vegas</small>
					</div>
					<img src="images/man2.jpg">
				</div>
				<div class="col-md-4">
					<div class="user-review">
						<i class="fa fa-comments"></i>
						<p>Delhi is (proud) home to three UN world heritage sites which are must for all - Red fort, Qutub Minar & Humayun's Tomb.</p>
						<h5>Shubham</h5>
						<small>Delhi</small>
					</div>
					<img src="images/man3.jpg">
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4 class="heading"> <i class="fa fa-suitcase"></i> TravelCove </h4>
					<p> TravelCove has features like Fare Calendar, MyRewards Program, MyWallet and provides great offers, exclusive discounts and with just a few clicks you can complete your booking.</p>
				</div>
				<div class="col-md-3">
					<h4>Features</h4>
					<p>Deals & Offers</p>
					<p>Customer Reviews</p>
					<p>Cancelation policy</p>
				</div>
				<div class="col-md-3">
					<h4>Quick Contact</h4>
					<p><i class="fa fa-phone-square"></i> +91 9876501234</p>
					<p><i class="fa fa-envelope"></i> admin@travelcove.in </p>
					<p><i class="fa fa-home"></i> Kalkaji, Delhi</p>
				</div>
				<div class="col-md-3">
					<h4>Follow Us on</h4>
					<p><i class="fa fa-facebook-official"></i> Facebook</p>
					<p><i class="fa fa-youtube-play"></i> Youtube</p>
					<p><i class="fa fa-twitter"></i> Twitter</p>
				</div>
			</div>
			<hr>
			<p class="copyright">Made with <i class="fa fa-heart"></i> by Ankur Bansal </p>
		</div>
	</div>

</body>
</html>